@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to J-F's WebApp!</p>
    <p>Message: @Model.Message</p>
    <p>
        <a href="Request">Send Request</a>
    </p>
</div>