@page
@model Request

@{
    ViewData["Title"] = "Request";
}

<h1>Request</h1>
<form method="post">
    <p>Name: <input name="name"/></p>
    <p>Message: <input name="message"/></p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>